* {
  box-sizing: border-box;
}

html {
  background-color: var(--clr1);
}

body {
  margin: 0;
}

img {
  width: 100%;
}

.show {
  display: flex;
}

.hide {
  display: none;
}

.btn-menu {
  display: none;
  height: 40px;
  width: 40px;
  background-color: var(--clr3);
  border-radius: 5px;
  border: none;
}
.btn-menu:hover {
  cursor: pointer;

}

.close-nav-btn {
  display: none;
}

.menu-open {
  display: block;
}