
.meme-gallery {
  display: flex;
  gap: 8px;
  flex-wrap: wrap;
  margin: 5px auto;
  justify-content: center;
}

.img {
    width: 300px;
    height: 300px;
    border-radius: 10px;
}

.img:hover {
    cursor: pointer;
}

