@font-face {
    font-family: akaya;
    src: url(../../fonts/Akaya_Telivigala/AkayaTelivigala-Regular.ttf);
}

@font-face {
    font-family: bebas;
    src: url(../../fonts/Bebas_Neue/BebasNeue-Regular.ttf);
}

@font-face {
    font-family: fredoka;
    src: url(../../fonts/Fredoka_One/FredokaOne-Regular.ttf);
}

@font-face {
    font-family: lobster;
    src: url(../../fonts/Lobster/Lobster-Regular.ttf);
}

@font-face {
    font-family: robote;
    src: url(../../fonts/Roboto/Roboto-Bold.ttf);
}